In [1]:
import pandas as pd
import numpy as np
import folium
from folium import plugins
from folium.plugins import HeatMap
import geopy
from geopy.geocoders import Nominatim
from geopy import Nominatim

import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import matplotlib.colors as mcolors
matplotlib.style.use('seaborn-whitegrid')

In [15]:
# reading data combined data 
df=pd.read_csv('../data/data_combined_v1.03.csv')

In [16]:
df.head()

,place_id,tripadvisor_id,fsq_id,name,business_status,types,price_level,ta_price_level,price_level_combined,rating,...,population_20_24,population_25_34,population_35_44,population_45_54,population_54_64,population_65+,resident_per_km2,brut_income_annual_per_person,district,district_cluster
0,ChIJd6kh67ZkjEcRC1IQourQOyo,7159041.0,4de685281f6e9d90c7f5325c,Restaurant La Tentation,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",2.0,2.0,3.0,4.2,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,3
1,ChIJX68uubZkjEcRKKxpZ7OrgqU,13322506.0,NaN,Caf茅 Restaurant Palma,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,NaN,4.0,3.7,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,3
2,ChIJPcYsG_BljEcR4kTFqBJJoK4,6720272.0,NaN,Le Versailles,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,2.0,3.0,3.9,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,3
3,ChIJV8uySFxljEcRn7XpIO3zZX0,NaN,NaN,Restaurant Les Jardins du Rh么ne,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,NaN,NaN,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,3
4,ChIJW8zU8rZkjEcR_Ke8t7c7hVc,NaN,NaN,Canteen De La Residence Gardens Du Rh么ne,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,5.0,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,3

In [17]:
df.columns

Index(['place_id', 'tripadvisor_id', 'fsq_id', 'name', 'business_status',
       'types', 'price_level', 'ta_price_level', 'price_level_combined',
       'rating', 'user_ratings_total', 'ta_rating', 'ta_user_ratings_total',
       'combined_rating', 'geometry.location.lat', 'geometry.location.lng',
       'formatted_address', 'zip_code', 'city', 'international_phone_number',
       'website', 'google_category', 'ta_4sq_cuisine1', 'ta_4sq_cuisine2',
       'ta_4sq_cuisine3', 'ta_4sq_cuisine4', 'ta_4sq_cuisine5',
       'main_category_1', 'main_category_2', 'main_category_3',
       'main_category_4', 'combined_main_category', 'sub_category',
       'neighboorhood_area_km2', 'resident_population_total',
       'population_age_0_14', 'population_15_19', 'population_20_24',
       'population_25_34', 'population_35_44', 'population_45_54',
       'population_54_64', 'population_65+', 'resident_per_km2',
       'brut_income_annual_per_person', 'district', 'district_cluster'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       1102 non-null   int64
 1   name                        1102 non-null   object
 2   place_id                    1102 non-null   object
 3   formatted_address           1102 non-null   object
 4   zip_code                    1102 non-null   int64
 5   city                        1102 non-null   object
 6   international_phone_number  1102 non-null   object
 7   price_level                 506 non-null    float64
 8   rating                      1101 non-null   float64
 9   user_ratings_total          1101 non-null   float64
 10  geometry.location.lat       1102 non-null   float64
 11  geometry.location.lng       1102 non-null   float64
 12  types1                      1102 non-null   object
 13  types2                      1102 non-null   object
 14  types3                      1102 non-null   object
 15  types4                      1102 non-null   object
 16  types5                      256 non-null    object
 17  types6                      79 non-null     object
 18  types7                      25 non-null     object
 19  types8                      7 non-null      object
 20  types9                      1 non-null      object
 21  reviews                     1102 non-null   object
 22  ta_id                       1102 non-null   int64
 23  ta_cuisine                  1102 non-null   object
dtypes: float64(5), int64(3), object(16)
memory usage: 206.8+ KB

In [18]:
df.isnull().sum()/len(df)*100

place_id                          0.000000
tripadvisor_id                   39.770554
fsq_id                           57.934990
name                              0.000000
business_status                   0.000000
types                             0.000000
price_level                      63.416189
ta_price_level                   50.031867
price_level_combined             12.364563
rating                           13.957935
user_ratings_total               13.957935
ta_rating                        43.658381
ta_user_ratings_total            43.658381
combined_rating                  12.492033
geometry.location.lat             0.000000
geometry.location.lng             0.000000
formatted_address                 0.000000
zip_code                          0.000000
city                              0.000000
international_phone_number       13.639261
website                          59.528362
google_category                   0.000000
ta_4sq_cuisine1                   0.318674
ta_4sq_cuisine2                   4.142766
ta_4sq_cuisine3                   9.878904
ta_4sq_cuisine4                  12.300829
ta_4sq_cuisine5                   7.775653
main_category_1                   0.000000
main_category_2                  81.325685
main_category_3                  94.582537
main_category_4                  99.490121
combined_main_category            0.000000
sub_category                     80.305927
neighboorhood_area_km2            0.000000
resident_population_total         0.000000
population_age_0_14               0.000000
population_15_19                  0.000000
population_20_24                  0.000000
population_25_34                  0.000000
population_35_44                  0.000000
population_45_54                  0.000000
population_54_64                  0.000000
population_65+                    0.000000
resident_per_km2                  0.000000
brut_income_annual_per_person     0.000000
district                          0.000000
district_cluster                  0.000000
dtype: float64

In [5]:
df.types1.unique()

array(['restaurant', 'meal_takeaway', 'convenience_store', 'cafe',
       'store', 'bar', 'meal_delivery', 'lodging', 'furniture_store',
       'night_club', 'grocery_or_supermarket', 'liquor_store'],
      dtype=object)

In [25]:
df.rating.unique()

array([3.7, 4.2, 3.8, 4.1, 4.3, 4.4, 4. , 3.9, 5. , 3. , 3.4, 4.5, 3.6,
       4.7, 3.5, 2.7, 4.9, 4.6, 3.1, 1. , 3.3, 0. , 4.8, 2.9, 2.8, 2.3,
       3.2, 1.3, 2.5, 2. , nan])

In [6]:
df.types2.unique()

array([' food', ' cafe', ' restaurant', ' point_of_interest', ' bar',
       ' night_club', ' meal_takeaway', ' school', ' meal_delivery',
       ' park', ' grocery_or_supermarket', ' bakery', ' store',
       ' furniture_store', ' finance', ' clothing_store', ' lodging'],
      dtype=object)

In [7]:
df.types3.unique()

array([' point_of_interest', ' food', ' store', ' bar', ' restaurant',
       ' lodging', ' convenience_store', ' meal_takeaway', ' bakery',
       ' night_club', ' cafe', ' grocery_or_supermarket'], dtype=object)

In [8]:
df.types4.unique()

array([' establishment', ' point_of_interest', ' restaurant', ' food',
       ' store', ' bar', ' grocery_or_supermarket', ' home_goods_store',
       ' cafe', ' meal_takeaway'], dtype=object)

In [9]:
df.types5.unique()

array([nan, ' establishment', ' food', ' point_of_interest',
       ' restaurant', ' store', ' home_goods_store'], dtype=object)

In [11]:
df.reviews[1]

"[{'author_name': 'Lorcan Flynn', 'author_url': 'https://www.google.com/maps/contrib/112510160972673972025/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AFdZucpKgT6R4Sft_Yuiv_CiJpDLwMiVMuXdmuKGxUsXAg=s128-c0x00000000-cc-rp-mo-ba3', 'rating': 5, 'relative_time_description': '2 years ago', 'text': 'Good food friendly service', 'time': 1595575133}, {'author_name': 'Dany Vinces', 'author_url': 'https://www.google.com/maps/contrib/116144535826454327673/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a/AItbvmmJh3Od4M0kmw7HMBuho7w5haOrYoDAWWPNpCQj=s128-c0x00000000-cc-rp-mo', 'rating': 5, 'relative_time_description': 'a year ago', 'text': 'Excellent!!!!', 'time': 1599758253}, {'author_name': 'Maribel Perez', 'author_url': 'https://www.google.com/maps/contrib/113012050420573241032/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AFdZucoQB95QQOMxPUNi0ej54RTssaD0HcYfet-YvZgtjw=s128-c0x00000000-cc-rp-mo-ba6', 'rating': 5, 'relative_time_description': '2 years ago', 'text': 'Exquisite', 'time': 1581758478}, {'author_name': 'David Hanhart', 'author_url': 'https://www.google.com/maps/contrib/113721297522261317267/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AFdZucriym8bDJvOWKQEk6CJyLETuuhr1JciyRCng0YvMSY=s128-c0x00000000-cc-rp-mo-ba5', 'rating': 4, 'relative_time_description': '7 years ago', 'text': 'Tasty food, nice dishes. Service could have been better.', 'time': 1423773015}, {'author_name': 'Cl茅ment Roch', 'author_url': 'https://www.google.com/maps/contrib/116295169756031463677/reviews', 'language': 'en', 'profile_photo_url': 'https://lh3.googleusercontent.com/a-/AFdZucqykiDTWV6Jq7WI-f9vGRsnHhzb2debhBgm3BaUaw=s128-c0x00000000-cc-rp-mo-ba2', 'rating': 5, 'relative_time_description': '3 years ago', 'text': 'Good food', 'time': 1549205446}]"

In [12]:
df.reviews[2]

'[{\'author_name\': \'EMILY DOEBELI\', \'author_url\': \'https://www.google.com/maps/contrib/110456265392239665091/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZucof4byBH4wVdTyI11dK4l8fdzSSnO6HynycVTg9Kw=s128-c0x00000000-cc-rp-mo\', \'rating\': 3, \'relative_time_description\': \'a month ago\', \'text\': "Great service. Burgers are good but the fries were not fresh. Think they prepare them in advance in the container and leave them standing. This is the same in a lot of McDonald\'s.", \'time\': 1658001074}, {\'author_name\': \'Kirk Kvistad\', \'author_url\': \'https://www.google.com/maps/contrib/104827660337754023645/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZucpVKjm-sJFJ0cvV9Am3YjNxKJ0uimzvP5xmsLAHmMc=s128-c0x00000000-cc-rp-mo-ba5\', \'rating\': 5, \'relative_time_description\': \'5 months ago\', \'text\': \'Always perfect with excellent and efficient service. The new quarter pounders Royal TS are very good and super tasty with fresh vegetables.\', \'time\': 1647715126}, {\'author_name\': \'E. Margot\', \'author_url\': \'https://www.google.com/maps/contrib/110724359699173068562/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZucrxF7m36nj3-buXX-IuDCeOLOS4bPg4uYl3afFF6g=s128-c0x00000000-cc-rp-mo-ba4\', \'rating\': 5, \'relative_time_description\': \'a year ago\', \'text\': "I\'m lovin it.\\nCome on who doesn\'t like a not so healthy meal once in a while. Taste and service ", \'time\': 1603805234}, {\'author_name\': \'Alexandre Takacs\', \'author_url\': \'https://www.google.com/maps/contrib/116299720221695009377/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZucr4kgJnu3O9TQjhRifKHoiSz_RCYCxedxAUdl3PCw=s128-c0x00000000-cc-rp-mo-ba3\', \'rating\': 4, \'relative_time_description\': \'a year ago\', \'text\': "Well it is a Mcdonald... What can I add /contribute? If there is a predicable and well controlled experience I guess you will find it there. 4* because they have much reduced opening hours nowadays (apparently you don\'t take breakfast during Covid19 times...)", \'time\': 1601417585}, {\'author_name\': \'GuyZa\', \'author_url\': \'https://www.google.com/maps/contrib/117067313262541239934/reviews\', \'language\': \'en\', \'profile_photo_url\': \'https://lh3.googleusercontent.com/a-/AFdZuco4tHDzCkK6a4DS6LABiRFVauwICp28hikrqRevpQ=s128-c0x00000000-cc-rp-mo-ba6\', \'rating\': 4, \'relative_time_description\': \'3 months ago\', \'text\': \'Super clean and friendly branch , if you are looking for fast food ,this branch is recommended\', \'time\': 1651648895}]'

In [17]:
df["ta_cuisine"].unique()

array(['0', 'European', 'American', 'Swiss', 'Fast Food', 'Italian',
       'Turkish', 'Japanese', 'Chinese', 'Seafood', 'Barbecue', 'Cafe',
       'French', 'Brew Pub', 'Portuguese', 'Lebanese', 'Colombian',
       'Peruvian', 'Brazilian', 'Thai', 'Steakhouse', 'Indian',
       'Middle Eastern', 'International', 'African', 'Sushi', 'Pizza',
       'Healthy', 'Mexican', 'Asian', 'Spanish', 'Irish', 'Mediterranean',
       'Latin', 'Vegetarian Friendly', 'Fusion', 'Bar', 'Belgian',
       'Pakistani', 'Diner', 'Korean', 'Filipino', 'Persian', 'Moroccan',
       'Soups', 'Vietnamese', 'Greek', 'Contemporary', 'Tibetan',
       'Wine Bar', 'Dining bars', 'South American'], dtype=object)

In [21]:
def search_venue(df, category):
  search = lambda x:True if category.capitalize() in x else False
  venues = df[df['combined_main_category'].apply(search)].reset_index(drop='index')
  venues_lat_long = list(zip(venues['geometry.location.lat'], venues['geometry.location.lng']))
  return venues_lat_long


def heatmap_venues(data):
    map=folium.Map(location=[46.204391, 6.143158], tiles="openstreetmap", zoom_start=14, min_zoom=13,max_zoom=15)
    HeatMap(data).add_to(map)
    return map

In [22]:
name_restaurant = search_venue(df, "Turkish")
heatmap_venues(name_restaurant)

In [23]:
# number of Turkish restaurant based on ta_cuisine column


df.loc[df["combined_main_category"].str.contains("Turkish")]  # 35 restaurants

,place_id,tripadvisor_id,fsq_id,name,business_status,types,price_level,ta_price_level,price_level_combined,rating,...,population_20_24,population_25_34,population_35_44,population_45_54,population_54_64,population_65+,resident_per_km2,brut_income_annual_per_person,district,district_cluster
26,ChIJdRFop8hkjEcRg6_m1RQ1Szs,11722642.0,8cb31267808a4fdc1e6f8133,Mutlu Kebab,OPERATIONAL,"['bar', 'restaurant', 'food', 'point_of_intere...",NaN,NaN,4.0,4.5,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,2
47,ChIJT7CbrcZkjEcRC2WYCvtGG-U,NaN,NaN,Resto AB Kebab,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,NaN,4.0,5.0,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,5
68,ChIJ047wgMVkjEcR5YCKUVjJ-fQ,NaN,57b1654ccd10284b638bea48,Silver Kebab SA,OPERATIONAL,"['cafe', 'restaurant', 'point_of_interest', 'f...",NaN,NaN,4.0,4.4,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,4
85,ChIJ_2QNS15ljEcR4rWSZa8RiOo,9772773.0,78f519496f1a46e1d22e0a6c,KAPRiS KEBAP PIZZA TACOS,OPERATIONAL,"['meal_takeaway', 'restaurant', 'point_of_inte...",NaN,1.0,2.0,4.1,...,1356,3501,3555,3028,2668,3155,8608,107269,Servette Petit-Saconnex,11
95,ChIJtZaiH9V6jEcR4z70j1F8bc0,8731343.0,5a99a5cf4c954c3e3fa2dcdf,El Baraka,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",1.0,1.0,2.0,4.0,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,13
102,ChIJheDJTf1ljEcR8qh9aTiHja4,NaN,NaN,zer Kebap,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,4.0,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,13
107,ChIJw2GmvcRkjEcRA3VqfaQ9bJE,NaN,NaN,Maison du kebab,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",1.0,NaN,2.0,4.2,...,1356,3501,3555,3028,2668,3155,8608,107269,Saint-Jean Charmilles,1
143,ChIJVZmd99JkjEcRL_y4pic5GWw,8388434.0,5409a46e498ecac664142594,Kebab House,OPERATIONAL,"['meal_delivery', 'restaurant', 'food', 'point...",1.0,1.0,2.0,3.9,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,13
153,ChIJqUcP4v9ljEcRmfQ503OlQK0,NaN,NaN,6Tacos,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,4.1,...,1937,5163,5549,4924,4290,5625,16282,109266,Saint-Jean Charmilles,4
223,ChIJabzl-QZljEcRakQDhdpAgic,NaN,NaN,Pid茅 Factory,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",2.0,NaN,3.0,4.8,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,14
232,ChIJiZrcNmZljEcRvwAjUqs94Pw,NaN,NaN,Mini Max,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,5.0,...,1356,3501,3555,3028,2668,3155,8608,107269,Saint-Jean Charmilles,1
241,ChIJZwGWpdRkjEcRCj-cnUjg9Do,NaN,NaN,Bozkurt,CLOSED_TEMPORARILY,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,5.0,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,14
258,ChIJ85U5DNpkjEcRe6fShRHtuqY,NaN,NaN,Pizza P芒te kebab(kebap)restaurant,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,NaN,4.0,4.4,...,1611,5621,5389,4675,3853,4059,19143,103373,Grottes Saint-Gervais,22
276,ChIJR1SNiQlljEcRbcZPK7TSfqU,NaN,NaN,Restaurant HANIMAGA,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,NaN,NaN,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,14
283,ChIJN-1I9mxljEcRiMmQs8vVG7A,NaN,NaN,Ali restaurant Kebab,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,4.9,...,1611,5621,5389,4675,3853,4059,19143,103373,Grottes Saint-Gervais,22
304,ChIJ3dljSNRkjEcRI5hSIzdt8NE,NaN,5319b17e498eaa015a624d25,Can Kebab,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",1.0,NaN,2.0,4.3,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,12
339,ChIJjXIxvyp7jEcRisOs8I4a_mk,NaN,8cb8d06864fd485f9ce9d962,Bodrum,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",1.0,NaN,2.0,4.3,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,15
369,ChIJ_4p5n9lkjEcRdqDv5X0JmIw,9703710.0,4dade1325da3cca6f09d9d5b,Saveurs dOrient,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,1.0,2.0,4.0,...,1611,5621,5389,4675,3853,4059,19143,103373,Grottes Saint-Gervais,25
399,ChIJS7q2TdVkjEcRg0ES8SEiBdE,11892656.0,483aaf05698f4f587d2581a8,Nefis,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,1.0,2.0,4.7,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,15
482,ChIJkfPMOqt7jEcRabfe35d4iL4,NaN,NaN,Alles Gut! Gem眉se Kebab Gen猫ve,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,4.5,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,15
491,ChIJg_Dbi5F7jEcRkUiIATW2YMM,11749811.0,NaN,Chiche ou pas Chiche Plainpalais,OPERATIONAL,"['restaurant', 'cafe', 'bar', 'food', 'point_o...",NaN,2.0,3.0,4.8,...,2253,7285,5620,4812,3966,4362,23371,102007,Jonction - Plainpalais,15
574,ChIJt7IVf2F7jEcRn11UYGw7Haw,NaN,NaN,Zem Gen猫ve,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,NaN,4.0,4.7,...,2253,7285,5620,4812,3966,4362,23371,102007,La Cluse - Philosophes,34
576,ChIJu5M4KdV6jEcRI6klhu-KTvo,20297549.0,4d7f4651ebc154819120f0a6,Nord Royal Sa,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,2.0,3.0,4.2,...,2253,7285,5620,4812,3966,4362,23371,102007,La Cluse - Philosophes,34
629,ChIJaUhcK9d6jEcRdVURLY3RtFw,NaN,4f0ef3db0cd695a0e543cb76,"Capa Negra, ARIFI Servet",OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",1.0,NaN,2.0,4.4,...,2253,7285,5620,4812,3966,4362,23371,102007,La Cluse - Philosophes,32
643,ChIJaZD-uBJ7jEcRG21tKEhpKqg,NaN,NaN,Restaurant Bahar,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",NaN,NaN,NaN,NaN,...,2253,7285,5620,4812,3966,4362,23371,102007,La Cluse - Philosophes,31
685,ChIJ48e5M0BljEcR3CMgp0zZc0o,NaN,NaN,Tout Le Monde En Parle,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,4.9,...,1611,5621,5389,4675,3853,4059,19143,103373,Grottes Saint-Gervais,23
694,ChIJ8fGBX1lljEcRbx435IBKoLs,21232942.0,NaN,Kebap Istanbul,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,3.0,...,1611,5621,5389,4675,3853,4059,19143,103373,Grottes Saint-Gervais,21
695,ChIJZdgrmCdljEcRT9sZikvJQP4,1474565.0,4b5d8079f964a520265f29e3,ISTANBUL KEBAB,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,1.0,2.0,3.6,...,1611,5621,5389,4675,3853,4059,19143,103373,Grottes Saint-Gervais,21
719,ChIJHb75pdZ6jEcR1Mn8m__ka4E,10337398.0,NaN,Ephese,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",1.0,1.0,2.0,4.0,...,2253,7285,5620,4812,3966,4362,23371,102007,La Cluse - Philosophes,33
729,ChIJ37MavdR6jEcRxDC7YTo9Zwc,5598038.0,4f1413dde4b03856f2f3b045,Grill Leschot,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,1.0,2.0,4.8,...,2253,7285,5620,4812,3966,4362,23371,102007,La Cluse - Philosophes,34
855,ChIJiZ5l0iBljEcR5XAHtOKjQS8,8616632.0,4b9930f0f964a5206a6835e3,Ali Haydar Kebab,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,1.0,2.0,4.3,...,1611,5621,5389,4675,3853,4059,19143,103373,P芒quis S茅cheron,28
1031,ChIJi6ywySFljEcRlmaKY69Vxa4,16380947.0,NaN,Ali Baba Kebab,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",1.0,NaN,2.0,4.3,...,1356,3501,3555,3028,2668,3155,8608,107269,P芒quis S茅cheron,27
1078,ChIJ6axqoiZljEcR__eqtcr85CM,NaN,NaN,Ankara Kebab,OPERATIONAL,"['restaurant', 'point_of_interest', 'food', 'e...",1.0,NaN,2.0,4.0,...,1611,5621,5389,4675,3853,4059,19143,103373,P芒quis S茅cheron,26
1221,ChIJ5XRMje9ljEcR2asitQXD0G8,23934485.0,NaN,MY MEAT STEAKHOUSE,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",NaN,NaN,4.0,4.4,...,1611,5621,5389,4675,3853,4059,19143,103373,P芒quis S茅cheron,26
1426,ChIJ-dXy0zZljEcRiZAM4c412Ok,6689215.0,3d1b0ef51b3b4f4850dd1422,Derya kebab,OPERATIONAL,"['restaurant', 'food', 'point_of_interest', 'e...",1.0,1.0,2.0,3.2,...,996,3839,3699,3048,2638,3503,15694,132730,Eaux-Vives - Lac,17

In [38]:
def search_venue(df, category):
  search = lambda x:True if category.capitalize() in x else False
  venues = df[df['name'].apply(search)].reset_index(drop='index')
  venues_lat_long = list(zip(venues['geometry.location.lat'], venues['geometry.location.lng']))
  return venues_lat_long


def heatmap_venues(data):
    map=folium.Map(location=[46.204391, 6.143158], tiles="openstreetmap", zoom_start=14, min_zoom=11,max_zoom=15)
    HeatMap(data).add_to(map)
    return map

In [39]:
name_restaurant = search_venue(df, "restaurant")
heatmap_venues(name_restaurant)

In [31]:
map = folium.Map(location = [lat, lng], zoom_start = 13, tiles = "Mapbox bright")
feature_group = folium.FeatureGroup("Locations")

def search_venue(df, category):
    search = lambda x:True if category.capitalize() in x else False
    venues = df[df['ta_cuisine'].apply(search)].reset_index(drop='index')
    venues_lat_long = list(zip(venues['geometry.location.lat'], venues['geometry.location.lng']))
    return venues_lat_long



for lat, lng, name in zip(venues['geometry.location.lat'], venues['geometry.location.lng'], venues['rating']):
    feature_group.add_child(folium.Marker(location=[lat,lon],popup=name))

map.add_child(feature_group)

NameError: name 'lat' is not defined

In [73]:
df.columns

Index(['index', 'name', 'place_id', 'formatted_address', 'zip_code', 'city',
       'international_phone_number', 'price_level', 'rating',
       'user_ratings_total', 'geometry.location.lat', 'geometry.location.lng',
       'types1', 'types2', 'types3', 'types4', 'types5', 'types6', 'types7',
       'types8', 'types9', 'reviews', 'ta_id', 'ta_cuisine'],
      dtype='object')

In [46]:
df.loc[df["ta_cuisine"].str.contains("Turkish")].rating
#category[["rating"]]

17     4.1
52     4.3
107    4.1
304    4.0
487    4.0
494    4.8
Name: rating, dtype: float64

In [47]:
category=df.loc[df["ta_cuisine"].str.contains("Turkish")]
category[["geometry.location.lat", "geometry.location.lng"]]

     geometry.location.lat  geometry.location.lng
17               46.219564               6.113111
52               46.215552               6.146822
107              46.214193               6.128963
304              46.209693               6.138007
487              46.192410               6.143787
494              46.196512               6.144204

In [65]:
category=df.loc[df["ta_cuisine"].str.contains("Turkish")]
category[["geometry.location.lat", "geometry.location.lng", "rating"]]

     geometry.location.lat  geometry.location.lng  rating
17               46.219564               6.113111     4.1
52               46.215552               6.146822     4.3
107              46.214193               6.128963     4.1
304              46.209693               6.138007     4.0
487              46.192410               6.143787     4.0
494              46.196512               6.144204     4.8

In [43]:
df.head()

,index,name,place_id,formatted_address,zip_code,city,international_phone_number,price_level,rating,user_ratings_total,...,types3,types4,types5,types6,types7,types8,types9,reviews,ta_id,ta_cuisine
0,0,Caf茅 Restaurant Palma,ChIJX68uubZkjEcRKKxpZ7OrgqU,"Av. d'A茂re 93bis, 1203 Gen猫ve, Switzerland",1203,Gen猫ve,+41 22 345 84 48,NaN,3.7,141.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Amin Masroor', 'author_url':...",13322506,0
1,1,Restaurant La Tentation,ChIJd6kh67ZkjEcRC1IQourQOyo,"Av. d'A茂re 91, 1203 Gen猫ve, Switzerland",1203,Gen猫ve,+41 22 344 28 29,2.0,4.2,158.0,...,point_of_interest,establishment,NaN,NaN,NaN,NaN,NaN,"[{'author_name': 'Lorcan Flynn', 'author_url':...",7159041,European
2,879,McDonalds,ChIJ-wXg9zFljEcROYaIkweg4dE,"Cr de Rive 3, 1204 Gen猫ve, Switzerland",1204,Gen猫ve,+41 22 311 85 75,2.0,3.7,2274.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'EMILY DOEBELI', 'author_url'...",19951486,American
3,178,McDonalds,ChIJARjSeiV7jEcR8tydzSBs3no,"Rte des Jeunes 9, 1227 Gen猫ve, Switzerland",1227,Gen猫ve,+41 22 301 99 11,2.0,3.8,1633.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'krishna chaitanya', 'author_...",23309074,0
4,883,The Hamburger Foundation - P芒quis,ChIJHxrrfiRljEcRogBS47e2k0o,"Rue Philippe-Plantamour 37, 1201 Gen猫ve, Switz...",1201,Gen猫ve,0,2.0,4.1,1350.0,...,food,point_of_interest,establishment,NaN,NaN,NaN,NaN,"[{'author_name': 'Jad Khalidy', 'author_url': ...",6033142,American

In [ ]:
# showing restaurans with ratings
# using custom markers

In [26]:
df.rating.min()

0.0

In [27]:
df.rating.max()

5.0

In [4]:
from ipywidgets import interact, widgets
widgets.IntRangeSlider()

IntRangeSlider(value=(25, 75))

In [5]:
from IPython.display import display,clear_output
from ipywidgets import widgets
from collections import OrderedDict
var_dict = OrderedDict([('var1',1),('var2',2),('var3',3),('var4',4)])

def myfct(change,list_widgets):
    clear_output()
    print np.sum([widget.value for widget in list_widgets])

list_widgets=[]

# create the widgets
for name,value in var_dict.iteritems():
    list_widgets.append(widgets.IntSlider(value=value,min=value-2,max=value+2,description=name))

# link the widgets with the function
for widget in list_widgets:
    widget.observe(lambda change:myfct(change,list_widgets),names='value',type='change')

# group the widgets into a FlexBox
w = widgets.VBox(children=list_widgets)

# display the widgets
display(w)

SyntaxError: invalid syntax (3361307943.py, line 8)

In [7]:
! pip freeze | grep ipywidgets
!

ipywidgets==8.0.1